- @new_variable = @category_name.name
h1  #{@new_variable} Items

=form_tag search_path, method: 'get' do
  =text_field_tag :search_item
  =hidden_field_tag :category, @item
  =submit_tag "Search"

table
  - @products.each do |product|

    tr
      - if product.category_id == @item.to_i
        td
          h3 = product.name
        td
          h4 = product.description
        td
          p #{image_tag product.image}
