- @new_variable = @category_name.name
h1  #{@new_variable} Items

=form_tag search_path, method: 'get' do
  =text_field_tag :search_item
  =hidden_field_tag :category, @item
  =submit_tag "Search"

=form_tag search_path, method: 'get' do
  =select_tag "search_drop", options_from_collection_for_select(@products, "id", "name")
  =hidden_field_tag :category, @item
  =submit_tag "Search"

nav id="product_nav_sort"
  ul
    li Filter By:
    li = link_to "New" , sort_path(sort: "New", category_id: @item)
    li = link_to "Sale", sort_path(sort: "Sale", category_id: @item)
== render partial: 'display_items'
